$bug-type-color: #a8b820;
$dragon-type-color: #7038f8;
$electric-type-color: #f8d030;
$fighting-type-color: #c03028;
$fire-type-color: #f08030;
$flying-type-color: #a890f0;
$ghost-type-color: #705898;
$grass-type-color: #78c850;
$ground-type-color: #e0c068;
$ice-type-color: #98d8d8;
$normal-type-color: #a8a878;
$poison-type-color: #a040a0;
$psychic-type-color: #f85888;
$rock-type-color: #b8a038;
$water-type-color: #6890f0;
$fairy-type-color: #ee99ac;
$steel-type-color: #b8b8d0;
$dark-type-color: #705848;
