.container {
  padding: 0;
}

.row {
  padding: 2.5rem 0.5rem 0.5rem;
  position: relative;
}

.col {
  padding: 0.2rem;
}

.pokemon-counter {
  position: absolute;
  z-index: 1;
  top: 2%;
  right: 9%;
  font-weight: bold;
}

@media only screen and (min-width: 750px) {
  .col {
    display: flex;
    justify-content: center;
  }

  .pokemon-counter {
    right: 5%;
  }
}
